body{
    margin: auto;
    font-size: 16px;
    

}

header{
    width: 80%;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    background-color: #7B6867;
    margin: 1rem 10% 1rem;
    align-items: center;
    position: relative;
    
}

.MainLINK{
    padding: 0.5rem 1rem 0rem 2.5rem;
    font-size: 28px;
    font-weight: bold;
    width: max-content;
    align-items: center;
    color: white;
    margin: auto;
    text-decoration: none;

}

nav{
    position: absolute;
    list-style: none;
    float: right;
    top:2.0rem;

    padding: 0rem 1rem 2.5rem 3rem;
    right: 5%;
    box-sizing: border-box;
}

header li{
    
    display: inline-block;
    margin: auto;
    
}

nav a{    

    color: black;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    text-align: center;
     
}


.Main_Container{
  display: inline-flex;
  width: 80%;
  height: 500px;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  }
  
.Frist_Container{
    
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 500px;
  background-color: white;

  
}
.Secound_Container{

  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 500px;
  
      
}
.Board_IOs_Control{
  height: 4rem;
  width: 15rem;
  margin: auto;
  background-color: #c7c7c7; 
  border-radius: 1rem; 
}
.Board_IOs_Control h3{
  background-color: white;
  border-radius: 0.5rem;
  height: 2rem;
  width: 120px;
  margin-top: 1rem;
  margin-left: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;

}
  
.Board_Selection
{
    padding: 0.5rem;
    top: 0; 
    margin: auto;
    color: black;
    background-color: white;

}

.Board_Info{
  width: 90%;
  height: 85%;
  margin: 1rem;
  border-radius: 1rem;
  align-self: flex-start;
  background-color: #c7c7c7;
}
.Board_Info h4{
  text-align: center;
  margin: auto;    
  padding-top: 10px;
  width: 80%;
  border-bottom-style: solid ;
  
}
 
footer{
    width: 80%;
    height: 7rem;
    border-radius: 1rem;
    background-color: #7B6867;

    margin: 1rem 10% 1rem;
}