body{
    margin: auto;
    font-size: 16px;
    

}

header{
    width: 80%;
    height: 7rem;
    border-radius: 1rem;
    background-color: #7B6867;
    margin: 1rem 10% 1rem;
    align-items: center;
    display: inline-block;
    position: relative;
    
}

.MainLINK{
    padding: 0.5rem 1rem 0rem 2.5rem;
    font-size: 28px;
    font-weight: bold;
    width: max-content;
    color: white;
    margin: auto;
    text-decoration: none;

}

nav{
    position: absolute;
    list-style: none;
    float: right;
    top:2.0rem;

    padding: 0rem 1rem 2.5rem 3rem;
    right: 5%;
    box-sizing: border-box;
}

header li{
    
    display: inline-block;
    margin: auto;
    
}

nav a{    

    color: black;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    text-align: center;
     
}

main{
    height:700px;
    width: 80%;
    margin: auto;
    border-radius: 1rem;
    background-color: #d7d7d7;
    box-sizing: content-box;
    position: relative;
}
.right_Container{

    width: 20%;
    top: 5%;
    right: 3%;
    margin-left: 5%;
    float: right;
    position: absolute;
}
.Board_Info
{
    float: right;
    width: 100%;
    margin: 15% 0 0 0;
    height: 580px;
    border-radius: 1rem;
    padding: 1%;
    background-color: #f7f7f7;

}

.Board_IOs{
    
    width: 70%;
    height: 600px;
    border-radius: 1rem;
    position: absolute;
    top: 5%;
    left: 3%;
    margin-right: 5%;
    padding: 1%;
    background-color: #f7f7f7;

  display: flex;
  flex-wrap: wrap;

}

.Board_IOs_Control{
    background-color: white;
    border-style: solid ;
    border-radius: 1rem;
    width: 28%;
    height: 12%;
    margin: auto;
    position: relative;
}
.Board_IOs_Control h3{
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 5%;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 70%;
    top: 30%;
    
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
.Board_Selection
{
    display: block;
    position: absolute;
    margin: auto;
    left: 5%;
    top: 0%;
    color: black;


}

 
footer{
    width: 80%;
    height: 7rem;
    border-radius: 1rem;
    background-color: #7B6867;

    margin: 1rem 10% 1rem;
}